*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.main-box{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display:flex;
}
.games{
    height: 60vh;
    width: 60vw;
    display: flex;
    gap: 2vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box{
    height: 18vh;
    width: 18vw;
    font-size: 8vmin;
    border: none;
    border-radius: 1rem;
    background-color: pink;
}
#reset-bt{
    height: 2vh;
    width:10vw;
    font-size: 3vmin;
    color: violet;
    border: none;
    border-radius: 1rem;
    background-color: aqua;
    margin-top: 14px;
}
.str{
    height: 6vh;
    width:50vw;
    font-size: 3vmin;
    color: aqua;
    border: none;
    border-radius: 1rem;
    background-color:violet;
    margin-top: 2vmin;
}